@charset "UTF-8";
/*
em HTML é id=""     em CSS # (só pode um elemento)
em HTML é class     em CSS . (pode vários elementos)
*/
body{
    background-color: #84FAA6;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #2CD15B;
}
h1#principal{
    text-align: center;
    background-color: #5E7A66;
    color: antiquewhite;
}
h2{
color:#386946;
}

.basico{
 color: #25ad4c;
}
.intermediario{
    color: #ada425;
}
.avancado{
    color: #ad3525;
}

.destaque{
    background-color:#ada4256b;
}